    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/djangoapp">Oonita Cars</a>
            </div>
              <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/djangoapp">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/djangoapp/about">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/djangoapp/contact">Contact Us</a>
                    </li>
                </ul>
        </div>
    </nav>     