<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    {% load static %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/css/bootstrap-datepicker.css" rel="stylesheet">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/js/bootstrap-datepicker.js"></script>

</head>
    <body>
        {% include 'navbard.html' %}
    <!--Add review form here -->
        <main class="container">
            <form action="{% url 'djangoapp:add_review' dealer_id %}" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="content">Enter the review content:</label>
                    <textarea class="form-control" id="content" name="content" rows="2" required></textarea>
                </div>
                <div class="form-group form-check">
                    <input class="form-check-input" type="checkbox" name="purchasecheck" id="purchasecheck">
                    <label for="purchasecheck">Has purchased the car from Dealership?(select purchased car information below if checked)</label>
                </div>
                <div class="form-group">
                    <label for="car">Select your car (model-make-year):</label>
                    <select name="car" id="car" class="form-select">
                        {% for car in cars %}
                            <option selected value={{car.id}}>{{car.name}}-{{car.car_make.name}}-{{ car.year|date:"Y" }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label for="purchasedate">Select your purchase date:</label>
                    <input class="date-own form-control" type="text" name="purchasedate" id="purchasedate">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </main>


    </body>
    <script type="text/javascript">
        $('.date-own').datepicker({
            format: 'mm/dd/yyyy'
        });
    </script>
</html>